// Place all the styles related to the forms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bod {
    
       background-image: url(/assets/body-bg.jpg);
       position: fixed;
       top:0%;
       height:100%;
       width:100%;

     }


.new {
    
       background-image: url(/assets/black-wood.jpg);
       position: fixed;
       top:0%;
       height:100%;
       width:100%;
       
     }

.sh {
    
       background-image: url(/assets/box.jpg);
       position: fixed;
       top:0%;
       height:100%;
       width:100%;
       
     }


.ind {
    
       background-image: url(/assets/white.jpg);
       position: fixed;
       top:0%;
       height:100%;
       width:100%;
       
     }
